body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    margin: 10px;
    padding: 20px;
    display: flex;
    flex-direction: row;
    padding: 20px;
    gap: 20px;
    height: 100vh;
}

.container {
    background: white;
    border-radius: 12px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
}

h1 {
    color: #e62429;
    /* Color de Marvel */
    text-align: center;
    margin-bottom: 20px;
}

#question-container {
    margin-bottom: 25px;
    min-height: 100px;
    /* Para evitar saltos al cargar */
}

#question-text {
    font-size: 1.5em;
    margin-bottom: 15px;
    font-weight: bold;
}

#feedback-container {
    margin-top: 20px;
    padding: 15px;
    border-radius: 8px;
    display: none;
    /* Oculto por defecto */
}

#score-container {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    font-size: 1.2em;
    padding: 10px;
    border-top: 1px solid #ccc;
}

.loading-message {
    text-align: center;
    font-style: italic;
    color: #555;
}

.option-bar{
    display: flex;
    flex-direction: column;
    gap: 20px;
    background: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
}

.option-bar > div {
    width: 100%;  
}

.option-bar button{
    width: 100%;
}

.option-bar .dropdown{
    width: 100%;
}

.dropdown {
    width: 100%;
    padding: 12px;
    font-size: 1.1em;
}

.correct {
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
}

.incorrect {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
}


.option-button {
    display: block;
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    border: none;
    border-radius: 8px;
    background-color: #eee;
    color: #333;
    text-align: left;
    font-size: 1.1em;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.1s;
}

.option-button:hover:not(:disabled) {
    background-color: #ddd;
    transform: scale(1.01);
}

.option-button:disabled {
    cursor: not-allowed;
}